@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f8fafc;
  color: #1e293b;
}

body {
  margin: 0;
  min-height: 100vh;
}
